{
    "env": {
      "es6": true,
      "node": true
    },
    "extends": ["eslint:recommended", "plugin:node/recommended", "prettier"],
    "parserOptions": {
      "ecmaVersion": 2018
    },
    "rules": {  
        "no-console":2,                   
        // "comma-dangle": 1,               
        "quotes":2,                      
        // "Linebreak-style":0,  
        "no-unused-vars": 0,             
        "max-len": 0                     
                               
    },
    "plugins": ["prettier"]
  }